.feeds {
  flex: 0.6;
  margin: 0 20px;
  margin-top: 5px;
}
.feeds__inputContainer {
  background-color: #fff;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feeds__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

.feeds__input > form {
  display: flex;
  width: 100%;
}
.feeds__input > form > input {
  border: none;
  flex: 1;
  outline: none;
  outline-width: 0;
  font-weight: 600;
  color: rgb(15, 15, 15);
  margin-left: 10px;
}

.feeds__input > form > button {
  display: none;
}

.feeds__inputOption {
  display: flex;
  justify-content: space-between;
}
